<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Stream</title>
    <style>
        body,
        html {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
        }

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>
    <!-- <script src="https://cdn.fluidplayer.com/v3/current/fluidplayer.min.js"></script> -->
</head>

<body>
    <video id="videoPlayer" autoplay>
        <source id="videoSource" src="<%= ad.src %>" type="video/mp4" />
    </video>
    <button onclick="videoPlayer.play();" style="display: none;" id="play_btn">play</button>
    <!-- <script>
        var myFP = fluidPlayer(
            'videoPlayer', {
            "layoutControls": {
                "controlBar": {
                    "autoHideTimeout": 1,
                    "animated": false,
                    "autoHide": true
                },
                "htmlOnPauseBlock": {
                    "html": null,
                    "height": null,
                    "width": null
                },
                "autoPlay": true,
                "mute": false,
                "allowTheatre": false,
                "playPauseAnimation": false,
                "playbackRateEnabled": false,
                "allowDownload": false,
                "playButtonShowing": false,
                "fillToContainer": false,
                "posterImage": ""
            },
            "vastOptions": {
                "adList": [],
                "adCTAText": false,
                "adCTATextPosition": ""
            }
        });
    </script> -->

    <script>
        const videoPlayer = document.getElementById('videoPlayer');
        
        videoPlayer.addEventListener('ended', () => {
            window.location.reload();
        });
    </script>
</body>

</html>